@model WebApplication2.Models.Employe
<h2>Delete</h2>
@using (@Html.BeginForm("Delete", "Employe", FormMethod.Post, new { id = "popform" }))
    {
if(@Model != null && @Model.EmployeID >0){
@Html.HiddenFor(a=>a.EmployeID)
}
<div class="form-group">
    <label>Name</label>
    <p>@Model.Name</p>
</div>
<div class="form-group">
    <label>Office </label>
    <p>@Model.Office</p>
</div>
<div class="form-group">
    <label>Salary</label>
    <p>@Model.Salary</p>
</div>
<div class="form-group">
    <label>Position</label>
    <p>@Model.Position</p>
</div>
<div class="form-group">
    <label>Age</label>
    <p>@Model.Age</p>
</div>
<div>
    <input type="submit" name="name" value="delete" />

</div>
}
